.minecraft/options.txt
patchouli_data.json
enigmatic_persistence.dat
usercache.json
usernamecache.json
rhino.local.properties
hs_err_pid**
servers.dat
servers.dat.bak
tlauncher_profiles.json
launcher_profiles.json
command_history.txt
data/fabricDefaultResourcepacks.dat

.mixin.out/
config/attributefix/
backups/
dynamic-data-pack-cache/
dynamic-resource-pack-cache/
ESM/
fancymenu_data/
screenshots/
downloads/
versions/
.obsidian/
defaultconfigs/
local/
modernfix/
crash-reports/
logs/
saves/
xaero/
XaeroWaypoints_**
libraries/

.curseclient
options.txt
minecraftinstance.json